# =========================
# Secrets
# =========================

.env
backend/.env


# =========================
# Frontend
# =========================

frontend/node_modules/
frontend/dist/


# =========================
# Backend
# =========================

backend/*.exe
backend/bin/
backend/tmp/


# =========================
# Logs
# =========================

*.log


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# IDE
# =========================

.idea/